.dist{
    margin-top: 99px;
}

.list_check{
    color: #737E86;
    list-style: none outside;
}

ul.list_check li {
    background: url('../../images/list_check.png') no-repeat 20px 5px;
    margin-bottom: 20px;
    position: relative;
    list-style: none;
    padding-left: 50px;
    margin-left: 0;
}

ul.list_check li:after{
    content: "";
    width: 70px;
    height: 1px;
    overflow: hidden;
    background: rgba(0, 0, 0, .08);
    position: absolute;
    left: 0;
    bottom: -11px;
}


.txt5{
    position: initial;
    margin-top: 7px;
}