.step{
    margin-top: 44px;
    margin-bottom: 22px;
    /* padding-left: 8%; */
}

.numberCircle {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0px;
    background: #fff;
    border: 2px solid #d47e38;
    color: #d47e38;
    text-align: center;
    display: inline-block;
    font: 16px Arial, sans-serif;
    line-height: 21px;
}
.step h5{
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    display: inline-block;
    padding-left: 1rem;
    position: initial;

}
.design{
    display: inline-flex;
}

.design .ant-btn  {
    background: #282828;
    color: rgb(255 255 255 / 85%);
    height: 43px;
    padding-left: 10%;
    padding-right: 7%;
}
.design .ant-btn:hover, .design .ant-btn:focus {
    color: #ffffff;
    background: #282828;
    border:#282828 ;
}

.design .ant-btn > span {
    display: inline-block;
    /* margin-left: 14px; */
    margin-right: 27px;
}